# narrowly focused ansible deployment playbook to configure ddclient
---
- name: Configure Service Account
  hosts: ddclient_servers
  become: true

  tasks:
    - name: Add Service Account
      ansible.builtin.user:
        name: "{{ svcacct_name }}"
        password: "{{ svcacct_pwd | password_hash('sha512') }}"
        update_password: always
        state: present

    - name: Enable Linger for Service Account
      ansible.builtin.command:
        cmd: loginctl enable-linger "{{ svcacct_name | quote }}"

    - name: Add SSH key to authorized_keys
      ansible.posix.authorized_key:
        user: "{{ svcacct_name }}"
        key: "{{ lookup('file', lookup('env', 'HOME') + '/.ssh/id_rsa.pub') }}"
        state: present

- name: Configure ddclient
  hosts: ddclient_servers
  become: yes
  become_user: "{{ svcacct_name }}"
  vars:
    pod: pod-ddclient
    img_ddclient: docker.io/linuxserver/ddclient:latest
    dir_localroot: "{{ lookup('env', 'HOME') }}/maw-server/ansible/ddclient"
    dir_config: "/home/{{ svcacct_name }}/ddclient/config"
    dir_kube: "/home/{{ svcacct_name }}/ddclient/kube"
    file_config: "{{ dir_config }}/ddclient.conf"
    file_kube: "{{ dir_kube }}/kube.yml"

  tasks:
    - name: Create Directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      loop:
        - "{{ dir_config }}"
        - "{{ dir_kube }}"

    - name: Process Templates
      ansible.builtin.template:
        dest: "{{ item.dest }}"
        src: "{{ item.src }}"
        mode: u+rw
      loop:
        - { "src": "ddclient.conf.j2", "dest": "{{ file_config }}" }
        - { "src": "kube.yml.j2", "dest": "{{ file_kube }}" }

    - name: Create ddclient Quadlet
      containers.podman.podman_play:
        kube_file: "{{ file_kube }}"
        state: quadlet
        recreate: true
        username: "{{ dockerhub_username }}"
        password: "{{ dockerhub_password }}"
        quadlet_filename: "{{ pod }}"
        quadlet_file_mode: '0640'
        quadlet_options:
          - "AutoUpdate=registry"
          - |

            [Unit]
            Description=Container for ddclient

            [Install]
            WantedBy=multi-user.target default.target

            [Service]
            Restart=on-failure

    - name: Start and Enable Pod / Containers
      ansible.builtin.systemd_service:
        daemon_reload: true
        name: "{{ pod }}"
        scope: user
        enabled: true
        state: restarted
